.headerTitle {
    color: white;
    margin-top: .4em;
    margin-left: 1em;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbarImg {
    margin-left: 1em;
    border-radius: 50%;
}
#superCardImg {
    width: 240px;
    height: 320px;
    margin-top: 2.3em;
    margin-left: 1.3em;
    margin-right: auto;
    border: solid black 5px;
    border-radius: 8%;
}

.superCard{
  margin-top: 2em;
  margin-bottom: 2em;
}

.navContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contentImg {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 20% ;
    border: 6px solid red;
}

#superInput {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.contentButton {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.boldText {
    font-weight: bold;
    line-height: 1.7em;
    margin-top: .5em;
}

#heroName {
    text-align: center;
    padding-right: .6em;
}

.list-group-item {
    border: none;
}

.card {
    padding: 1em;
    border: 2px solid black;
}

.cardInnerBorder {
    border: 2px dashed black;
    padding: 1em;
}

.chartSection {
    margin-bottom: 5em;
    margin-top: 3em;
}

.inputIdError {
    color: red;
}